* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.quiz-form {
    margin-top: 2%;
}
.quiz-title {
    width: 50%;
}
.date {
    width: 15%;
    padding: 0.2%;
}
.add-button {
    width: 14%;
    margin: 1% 1%;
    padding: 0.2% 0.4%;
    background-color: coral;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.cancel-button {
    width: 14%;
    margin: 1% 1%;
    padding: 0.2% 0.4%;
    background-color: orangered;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.quiz-button {
    width: 14%;
    margin: 1% 1%;
    padding: 0.2% 0.4%;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.question {
    width: 70%;
    margin: auto;
    margin-top: 4%;
}
.each-question {
    margin: 2% 0;
    border: 1px solid lightblue;
    padding: 2% 1%;
    border-radius: 7px;
}
.correct {
    background-color: rgb(128, 255, 73);
}
.options {
    width: fit-content;
    padding: 0.1% 4% 0.1% 0.5%;
    margin-top: 0.2%;
}