.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.new-quiz-button {
    margin: 2% 0% 2% 5%;
    width: fit-content;
    padding: 1% 1.5%;
    background-color: lightgreen;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.quiz-list {
    height: 50vh;
    border: 1px solid grey;
}
.past-quiz {
    height: 50vh;
    border: 1px solid grey;
}