.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}
.current-quiz {
    height: 50vh;
    border: 1px solid grey;
}
.past-quiz {
    height: 50vh;
    border: 1px solid grey;
}